body{ /**Box-Main**/
    margin: 0;
}

.top-bar {
    justify-content: center;
}

.top-bar hr {
    width: 30%;
}

hr {
    width: 95%;    
}

.top-logo {
    color: rgb(19, 54, 129);
    text-align: center;
}

.top-navegacao {
    display: flex;
    justify-content: center;
}

.top-navegacao button {
    margin: 5px;
    color: rgb(98, 128, 192);
    background-color: black;
}

.little-box {
    display: flex;
    justify-content: space-around;
}

.small-content{
    display: flex;
    width: 25%;
    justify-content: center;
    margin: 10px 0px;
}

.small-content img {
    width: 50%;
}

.anuncio{
    display: flex;
    justify-content: space-around;
}

.anuncio-banner {
    display: flex;
    justify-content: center;
}

.anuncio-banner img{
    width: 80%;
}

.item {
    padding: 10px 10px;
}

.item img {
    height: 14rem;
}

.algunsProdutores{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 0px;
}

.produtores {
    display: flex;
    justify-content: center;
}

.produtores img{
    width: 50%;
    border-radius: 50%;
}

#link {
    font-size: 200%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer {
    color: red;
    background-color: black;
    text-align: center;
    padding: 10px 0px;
}