body{ /**Box-Main**/
    margin: 0;
    background-color: rgba(241, 241, 241, 0.849);
}

.top-bar {
    display: grid;
    grid-template-columns: 1 1 1;
    grid-template-rows: 1 1 1;
    justify-content: center;
    background-color: rgba(208, 226, 226, 0.671);
}

.top-logo {
    color: rgb(19, 54, 129);
    padding: 20px;
    text-align: center;
}

.top-navegacao {
   text-align: center;
   padding-bottom: 10px;
}

.top-navegacao button {
    color: rgb(98, 128, 192);
    background-color: black;
}

.little-box {
    display: flex;
    background-color: rgb(227, 234, 250);
    justify-content: space-around;
}

.small-content{
    display: flex;
    width: 25%;
    justify-content: center;
}

.small-content img {
    border-style: dashed;
    padding: 1px;
    color: rgb(71, 123, 236);
    box-shadow: 5px;
    width: 50%;
}

.anuncio{
    display: flex;
}

.anuncio .anuncio-banner img{
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 10px;
}

.box-filme {
    height: 15rem;
    width: 15rem;
    display: block;
}

.carrolsel-filme{
    margin-top: 1px ;
}

.algunsProdutores{
    display: grid;
}

.algunsProdutores .produtores {
    display: grid;
    align-items: center;
    padding-left: 5%;
    grid-template-columns: auto auto auto;
    background-color: rgb(11, 12, 12);
        
}

.algunsProdutores .produtores img{
    width: 70%;
    height: 80%;
    border-radius: 50%;

}

/* .algunsProdutores .produtores img {
    
}
.algunsProdutores .produtores .i1{
    margin-right: 10px;
    
}
.algunsProdutores .produtores .i2{
    margin-left: 5px;
    margin-right: 5px;

} */

.Limitar {
    color: red;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}