body{ /**Box-Main**/
    margin: 0;
    background-color: rgba(241, 241, 241, 0.849);
}

.top-bar {
    justify-content: center;
}

.top-bar hr {
    width: 30%;
}

.top-logo {
    color: rgb(19, 54, 129);
    text-align: center;
}

.top-navegacao {
    display: flex;
    justify-content: center;
}

.top-navegacao button {
    margin: 5px;
    color: rgb(98, 128, 192);
    background-color: black;
}

.little-box {
    display: flex;
    justify-content: space-around;
}

.small-content{
    display: flex;
    width: 25%;
    justify-content: center;
    margin: 10px 0px;
}

.small-content img {
    width: 50%;
}

.anuncio{
    display: flex;
    justify-content: space-around;
}

.anuncio-banner img{
    display: flex;
    justify-content: space-around;
}

.box-filme {
    height: 15rem;
    width: 15rem;
    display: block;
}

.algunsProdutores{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 0px;
}

.produtores {
    display: flex;
    justify-content: center;
}

.produtores img{
    width: 50%;
    border-radius: 50%;
}

#link {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer {
    color: red;
    background-color: black;
    text-align: center;
    padding: 10px 0px;
}